* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: white;
}

h1,
h3,
p {
  color: #545454;
}

.container {
  padding: 15px 10%;
}
/* ---------portfolio--------- */
#portfolio {
  margin-top: 40px;
  padding: 30px 0;
}
/* ---------nav-------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 1;
  padding-left: 10px;
  padding-right: 25px;
}
.logo {
  width: 140px;
  margin-left: 20px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  display: block;
  color: #545454;
  float: left;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8dc6ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.work-list,
.work-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.fa-solid {
  color: #8dc6ff;
}
.sub-title,
.box-title {
  font-size: 60px;
  font-weight: 600px;
  color: #545454;
}
.work {
  border-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.fa-solid.fa-link {
  color: #73b6f8;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #73b6f8b0);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.port-p {
  color: white;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}
.layer i {
  margin-top: 15px;
}
.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
  top: auto;
}
.work-list.buttons {
  margin-top: 0px;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #73b6f8;
  border-width: 2px;
  padding: 10px 40px;
  border-radius: 14px;
  text-decoration: none;
  color: #73b6f8;
  transition: background 0.5s;
}
.btn.btn2 {
  display: inline-block;
  background: #73b6f8;
  color: white;
  font-size: 15px;
}

.btn:hover {
  background: #73b6f8;
  color: white;
}

/* ---------frontend part--------- */
.work-box {
  display: grid;
  grid-gap: 40px;
}
.box {
  border-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.box p {
  padding-top: 20px;
}
.box img {
  width: 30%;
  border-radius: 10px;
  display: block;
  margin-top: 25px;
}
/* ---------swift part--------- */
.box-title {
  font-size: 40px;
  color: #545454;
}

.box.app {
  background-color: #73b6f827;
  padding: 12px;
  border-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.box video {
  margin-top: 25px;
  padding-top: 10px;
  width: 100%;
}

/* ---------copyright--------- */
.copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  background: white;
  font-weight: 300;
  margin-top: 10px;
}

.social-icons a {
  margin-top: 30px;
  margin-right: 15px;
  font-size: 30px;
  color: #73b6f8;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #545454;
  transform: translateY(-5px);
}
.flex {
  display: flex;
  justify-content: space-between;
}
nav .fas {
  display: none;
}
.fa-bars {
  color: #545454;
}
@media only screen and (max-width: 650px) {
  /* ---------nav-------- */

  nav .fas {
    display: block;
    font-size: 20px;
    color: #545454;
  }
  nav ul {
    background: #d3e7fb;
    position: fixed;
    top: 0;
    right: -120px;
    width: 120px;
    height: 100vh;
    padding-top: 40px;
    z-index: 2;
    transition: right 0.4s;
  }
  nav ul li {
    display: block;
    margin-top: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title,
  .box-title {
    font-size: 30px;
  }
  .btn.btn2,
  .btn.btn2.about {
    margin: 25px 10px 5px 1px;
  }
  .copyright {
    font-size: 14px;
  }
}
